.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color :white
    
    
}

.timer {
    margin-left: 9rem;
    display: flex;
    justify-content: flex-start;
    width: 30rem;

}
